.fas{
    cursor: pointer;
    margin-left: 7px;
    }.fas{
cursor: pointer;
margin-left: 7px;
}


.title{

   font-family: "Cursive",	"Brush Script MT";
  font-size: 2cm;
  letter-spacing: 5px;
  color: #3f4f94;
  text-shadow: 1px 1px 3px #120030;

}